<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.njit.dao.CourseMapper" >

  <!--property为实体类中属性，column为数据库查询结果名-->
  <!--course对象-->
  <resultMap id="BaseResultMap" type="cn.njit.entity.Course" >
    <id column="course.cno" property="cno" jdbcType="VARCHAR" />
    <result column="course.name" property="name" jdbcType="VARCHAR" />
    <result column="course.tno" property="tno" jdbcType="VARCHAR" />
    <result column="course.dno" property="dno" jdbcType="VARCHAR" />
    <result column="course.date" property="date" jdbcType="VARCHAR" />
    <result column="course.place" property="place" jdbcType="VARCHAR" />
    <result column="course.credit" property="credit" jdbcType="VARCHAR" />
    <result column="course.total" property="total" jdbcType="INTEGER" />
    <result column="course.type" property="type" jdbcType="VARCHAR" />
    <result column="course.delFlag" property="delFlag" jdbcType="INTEGER" />

    <!--teacher对象：多对一-->
    <association property="teacher" javaType="cn.njit.entity.Teacher">
      <id property="tno" column="teacher.tno"/>
      <result property="name" column="teacher.name"/>
      <result property="password" column="teacher.password"/>
      <result property="sex" column="teacher.sex"/>
      <result property="mobile" column="teacher.mobile"/>
      <result property="birthday" column="teacher.birthday"/>
      <result property="delFlag" column="teacher.delFlag"/>
    </association>

    <!--dept对象：多对一-->
    <association property="dept" javaType="cn.njit.entity.Dept">
      <id property="dno" column="dept.dno"/>
      <result property="name" column="dept.name"/>
      <result property="delFlag" column="dept.delFlag"/>
    </association>

    <!--studentList对象：一对多-->
    <collection property="studentList" ofType="cn.njit.entity.Student" javaType="java.util.ArrayList">
      <id property="sno" column="student.sno"/>
      <result property="name" column="student.name"/>
      <result property="password" column="student.password"/>
      <result property="sex" column="student.sex"/>
      <result property="dno" column="student.dno"/>
      <result property="birthday" column="student.birthday"/>
      <result property="mobile" column="student.mobile"/>
      <result property="delFlag" column="student.delFlag"/>

    </collection>
  </resultMap>

  <sql id="courseColumns" >
    c.cno as "course.cno",
    c.name as "course.name",
    c.tno as "course.tno",
    c.dno as "course.dno",
    c.date as "course.date",
    c.place as "course.place",
    c.credit as "course.credit",
    c.total as "course.total",
    c.type as "course.type",
    c.del_flag as "course.delFlag"
    </sql>

  <sql id="teacherColumns">
    t.tno as "teacher.tno",
    t.name as "teacher.name",
    t.password as "teacher.password",
    t.sex as "teacher.sex",
    t.mobile as "teacher.mobile",
    t.birthday as "teacher.birthday",
    t.del_flag as "teacher.delFlag"
    </sql>

  <sql id="deptColumns">
    d.dno as "dept.dno",
    d.name as "dept.name",
    d.del_flag as "dept.delFlag"
  </sql>

  <sql id="studentColumns">
    s.sno as "student.sno",
    s.name as "student.name",
    s.password as "student.password",
    s.sex as "student.sex",
    s.dno as "student.dno",
    s.birthday as "student.birthday",
    s.mobile as "student.mobile",
    s.del_flag as "student.delFlag"
  </sql>



  <!--根据cno查询course对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from (
      select
        <include refid="courseColumns" />,
        <include refid="teacherColumns" />,
        <include refid="deptColumns" />
      from course c,teacher t,dept d
    where
          c.tno = t.tno
      and c.dno = d.dno
      and t.del_flag = 0
      and d.del_flag = 0
      and c.del_flag = 0
    ) a left join (
      select
        <include refid="courseColumns" />,
        <include refid="studentColumns" />
      from course c,student s,cs cs
      where
            c.cno = cs.cno
        and s.sno = cs.sno
        and s.del_flag = 0
    ) b on a.`course.cno` = b.`course.cno`

    where a.`course.cno` = #{cno,jdbcType=VARCHAR}

  </select>

  <!--查询所有course-->
  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from (
      select
        <include refid="courseColumns" />,
        <include refid="teacherColumns" />,
        <include refid="deptColumns" />
      from course c,teacher t,dept d
      where
            c.tno = t.tno
        and c.dno = d.dno
        and t.del_flag = 0
        and d.del_flag = 0
        and c.del_flag = 0
    ) a left join (
      select
        <include refid="courseColumns" />,
        <include refid="studentColumns" />
      from course c,student s,cs cs
      where
            c.cno = cs.cno
        and s.sno = cs.sno
        and s.del_flag = 0
    ) b on a.`course.cno` = b.`course.cno`


  </select>

  <!--条件查询-->
  <select id="findListByEntity" resultMap="BaseResultMap" parameterType="cn.njit.entity.Course">
    select *
    from (
      select
        <include refid="courseColumns" />,
        <include refid="teacherColumns" />,
        <include refid="deptColumns" />
      from course c,teacher t,dept d
      where
            c.tno = t.tno
        and c.dno = d.dno
        and t.del_flag = 0
        and d.del_flag = 0
        and c.del_flag = 0
    ) a left join (
      select
        <include refid="courseColumns" />,
        <include refid="studentColumns" />
      from course c,student s,cs cs
      where
            c.cno = cs.cno
        and s.sno = cs.sno
        and s.del_flag = 0
    ) b on a.`course.cno` = b.`course.cno`
    <where>
      <if test="student != null and student.sno != null and student.sno != ''">
        and b.`student.sno` = #{student.sno,jdbcType=VARCHAR}
      </if>
      <if test="cno != null and cno != ''">
        and b.`course.cno` = #{cno,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type != ''">
        and b.`course.type` = #{type,jdbcType=VARCHAR}
      </if>
      <if test="tno != null and tno != ''">
        and b.`course.tno` = #{tno,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--根据cno删除课程-->
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update course
    set del_flag = 1
    where cno = #{cno,jdbcType=VARCHAR}
  </update>

  <!--全部条件添加-->
  <insert id="insert" parameterType="cn.njit.entity.Course" >
    insert into course (cno, name, tno, 
      dno, date, place, credit, 
      total, type, del_flag
      )
    values (#{cno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tno,jdbcType=VARCHAR}, 
      #{dno,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{credit,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>

  <!--添加课程-->
  <insert id="insertSelective" parameterType="cn.njit.entity.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        cno,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tno != null" >
        tno,
      </if>
      <if test="dno != null" >
        dno,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        #{cno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tno != null" >
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="dno != null" >
        #{dno,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--根据cno修改course属性-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.njit.entity.Course" >
    update course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tno != null" >
        tno = #{tno,jdbcType=VARCHAR},
      </if>
      <if test="dno != null" >
        dno = #{dno,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where cno = #{cno,jdbcType=VARCHAR}
  </update>

  <!--全属性修改-->
  <update id="updateByPrimaryKey" parameterType="cn.njit.entity.Course" >
    update course
    set name = #{name,jdbcType=VARCHAR},
      tno = #{tno,jdbcType=VARCHAR},
      dno = #{dno,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where cno = #{cno,jdbcType=VARCHAR}
  </update>
</mapper>